.env
__pycache__/
*.pyc
.ipynb_checkpoints/
data/uploads/*
reports/generated_pdfs/*
reports/generated_excels/*
reports/generated_csvs/*
models/forecasting_models/*.pkl
models/clustering_models/*.pkl
vector_store/faiss_index/*
!data/uploads/.gitkeep
!reports/generated_pdfs/.gitkeep
!reports/generated_excels/.gitkeep
!reports/generated_csvs/.gitkeep
!models/forecasting_models/.gitkeep
!models/clustering_models/.gitkeep
!vector_store/faiss_index/.gitkeep
