streamlit
pandas
numpy
plotly
matplotlib
scikit-learn
xgboost
faiss-cpu
sentence-transformers
groq
langchain
langchain-groq
langchain-community
reportlab
SQLAlchemy
psycopg2-binary
python-dotenv
openpyxl
